@keyframes "stretch" {
  0% {
    transform: scale(0.3);
    background-color: #f3f6f9;
    border-radius: 1px;
    box-shadow: 0 8px 6px -6px #7f91a5;
  }
  50% {
    background-color: #d3dfeb;
    box-shadow: 0 8px 6px -6px #7f91a5;
  }
  100% {
    transform: scale(1);
    background-color: #acc2da;
    border-radius: 1px;
    box-shadow: 0 8px 6px -6px #7f91a5;
  }
}
.introduction-section {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.introduction-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display";
}
.location-section {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.location-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display";
}
.questions-section {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.questions-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display";
}
.questions-section > h2 {
  font-family: "Lato";
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em;
}
.projects-section {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.projects-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display";
}
.projects-section > h2 {
  font-family: "Lato";
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em;
}
.projects-section a {
  padding: 0;
  text-decoration: underline;
  font-weight: bolder;
}
.blog-section {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.blog-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display";
}
.blog-section > h2 {
  font-family: "Lato";
  font-size: 1.3em;
  font-weight: bold;
  margin: 2em 0 1em;
}
.blog-section ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}
body {
  background: #f5f5f5;
  font-size: 1em;
  font-family: "Playfair Display";
}
.masthead-heading {
  text-align: center;
  font-family: "Lato";
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #acc2da;
}
.masthead-intro {
  text-align: center;
  color: #f5f5f5;
  font-size: 2em;
  font-family: "Playfair Display";
}
.masthead-intro-bottom {
  text-align: center;
  color: #f5f5f5;
  font-size: 2em;
  font-family: "Playfair Display";
}
.content-footer {
  text-align: center;
}
.content-footer > p {
  color: #f5f5f5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Lato";
}
.masthead {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #504d58;
  box-shadow: 0 8px 6px -6px #7f91a5;
  border-radius: 1px;
}
.masthead a {
  color: #f5f5f5;
  text-decoration: none;
}
.screenshot {
  box-shadow: 0 8px 6px -6px #7f91a5;
  border-radius: 1px;
}
.pages {
  padding: 0;
  text-align: center;
}
.pages > li {
  color: #f5f5f5;
  font-weight: 100;
  font-family: "Lato";
  font-size: 1.3em;
  display: inline-block;
}
.hidden {
  display: none;
}
.social {
  padding: 0;
  margin: 2em 0;
}
.social > li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
}
.social > a {
  color: #f5f5f5;
}
footer {
  background: #acc2da;
  border-bottom: solid 1em #504d58;
  padding: 4em 1em;
  margin-top: 5em;
  border-radius: 1px;
}
h2 {
  color: #a59f74;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #acc2da;
}
a {
  color: #504d58;
  text-decoration: none;
  padding: 0 10px;
}
a:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #acc2da;
}
.centre {
  text-align: center;
}
section > h1 {
  margin-top: 2em;
  font-family: "Lato";
  font-size: 1.5em;
  color: #3f3034;
  box-shadow: 0 8px 6px -6px #7f91a5;
}
button#link {
  background: none;
  border: none;
}
button#link:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #acc2da;
}
ul.social {
  margin: 1em auto;
  padding: 1em 0.5em;
}
ul.social img {
  box-shadow: 0 8px 6px -6px #7f91a5;
}
@media only screen and (max-width: 600px) {
  .masthead {
    background-image: url("../images/background.jpg");
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 4em;
    margin-top: -0.1em;
  }
  .masthead-intro {
    margin-top: -0.1em;
    margin-bottom: 0;
  }
  .masthead-intro-bottom {
    margin-top: -1em;
  }
  .pages {
    margin: 0 0 -1em 0;
  }
  section {
    padding: 0 3em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  img {
    max-width: 400px;
  }
  footer > p {
    font-size: 1em;
    margin: 0 3em;
  }
}
@media only screen and (max-width: 300px) {
  .masthead {
    background-image: url("../images/background-min.jpg");
  }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .social img {
    width: 68px;
  }
}
@media only screen and (min-width: 412px) {
  .social img {
    width: 67px;
  }
}
@media only screen and (min-width: 384px) {
  .social img {
    width: 62px;
  }
}
@media only screen and (min-width: 375px) {
  .social img {
    width: 60px;
  }
}
@media only screen and (min-width: 360px) {
  .social img {
    width: 57px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .social img {
    width: 49px;
  }
}
/*# sourceMappingURL=portfolio.css.map */