<div class="work-header">
	<div class="headings">
		<h2>Projects</h2>
	</div>
	<nav>
		<ul>
			<li ng-repeat="project in projects">
				<a class="box rotate navbar" href="#/work/#{{project.class}}">{{project.name}}</a>
			</li>
		</ul>
	</nav>
</div>
<ul class="temp">
	<li ng-repeat="project in projects">
		<div class="summary {{project.class}}" id="project{{project.id}}">
			<div class="content">
				<a id="{{project.class}}">
					<div class="text-box">
						<h3 class="project-title">
							<a target="_blank" href="{{project.code}}">{{project.name}}</a>
						</h3>
						<!-- <h4 class="subtitle">{{project.title}}</h4> -->
					</div>
					<div class="screenshot">
						<a href="{{project.demo}}" target="_blank" title="{{project.name}} image">
							<img src="{{project.img}}" alt="{{project.name}}">
						</a>
						<div class="text-box">
							<p>{{project.text}}</p>
						</div>
					</div>
				</a>
				<ul>
					<li>
						<a class="box rotate" target="_blank" href="{{project.code}}" title="{{project.code}}">Code</a>
					</li>
					<li>
						<a class="box rotate" target="_blank" href="{{project.demo}}" title="{{project.demo}}">Demo</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
