//colors
$color_black_haze_approx: #f3f6f9;
$black: #000;
$color_geyser_approx: #d3dfeb;
$color_pigeon_post_approx: #acc2da;
$color_wild_sand_approx: #f5f5f5;
$color_abbey_approx: #504d58;
$color_donkey_brown_approx: #a59f74;
$color_dune_approx: #3f3034;
$color_regent_gray_approx: #7f91a5;

//fonts
$font_0: "Playfair Display";
$font_1: "Lato";

//urls
$url_0: url("../images/background.png");
$url_1: url("../images/background.jpg");
$url_2: url("../images/background-min.jpg");

//@extend-elements
//original selectors
//.introduction-section, .location-section, .questions-section, .projects-section, .blog-section
%extend_1 {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

//original selectors
//.introduction-section >p, .location-section >p, .questions-section >p, .projects-section >p, .blog-section >p
%extend_2 {
	font-weight: 300;
	letter-spacing: 0.05em;
	font-family: $font_0;
}

//original selectors
//.questions-section >h2, .projects-section >h2, .blog-section >h2
%extend_3 {
	font-family: $font_1;
	font-size: 1.3em;
	font-weight: bold;
	margin: 2em 0 1em;
}

//@mixins
@mixin border-radius($radius: 10px, $vertical-radius: 10px) {
	border-radius: #{$radius} / #{$vertical-radius};
}
@mixin box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10) {
	box-shadow: 0 8px 6px -6px $color_regent_gray_approx;
}
@mixin text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10) {
	text-shadow: 1px 1px 1px $black, 3px 3px 5px $color_pigeon_post_approx;
}
// @mixin transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy) {
// 	transform: 10% 90%;
// }

.introduction-section {
	@extend %extend_1;
	> p {
		@extend %extend_2;
	}
}
.location-section {
	@extend %extend_1;
	> p {
		@extend %extend_2;
	}
}
.questions-section {
	@extend %extend_1;
	> p {
		@extend %extend_2;
	}
	> h2 {
		@extend %extend_3;
	}
}
.projects-section {
	@extend %extend_1;
	> p {
		@extend %extend_2;
	}
	> h2 {
		@extend %extend_3;
	}
	a {
		padding: 0;
		text-decoration: underline;
		font-weight: bolder;
	}
	img {
		width: 100%;
	}
}
.blog-section {
	@extend %extend_1;
	> p {
		@extend %extend_2;
	}
	> h2 {
		@extend %extend_3;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0 auto;
	}
	img {
		width: 100%;
	}
}
body {
	background: $color_wild_sand_approx;
	font-size: 1em;
	font-family: $font_0;
}
.masthead-heading {
	text-align: center;
	// margin-top: -0.2em;
	font-family: $font_1;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: $black;
	@include text-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
}
.masthead-intro {
	text-align: center;
	// margin-top: -0.1em;
	// margin-bottom: 0.1em;
	color: $color_wild_sand_approx;
	font-size: 2em;
	font-family: $font_0;
}
.masthead-intro-bottom {
	text-align: center;
	// margin-top: -2em;
	color: $color_wild_sand_approx;
	font-size: 2em;
	font-family: $font_0;
}
.content-footer {
	text-align: center;
	> p {
		color: $color_wild_sand_approx;
		font-size: 1.1em;
		font-weight: bold;
		font-family: $font_1;
	}
}
.masthead {
	background-image: $url_0;
	background-size: cover;
	background-repeat: no-repeat;
	// padding: 6em 0;
	border-top: solid 1em $color_abbey_approx;
	@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	@include border-radius;
	a {
		color: $color_wild_sand_approx;
		text-decoration: none;
	}
}
.screenshot {
	@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	@include border-radius;
}
.pages {
	padding: 0;
	text-align: center;
	// margin: 0 0 -5em 0;
	> li {
		color: $color_wild_sand_approx;
		font-weight: 100;
		font-family: $font_1;
		font-size: 1.3em;
		display: inline-block;
	}
}
.hidden {
	display: none;
}
.social {
	padding: 0;
	margin: 2em 0;
	> li {
		display: inline-block;
		font-weight: bold;
		font-size: 1.1em;
	}
	> a {
		color: $color_wild_sand_approx;
	}
}
footer {
	background: $color_pigeon_post_approx;
	border-bottom: solid 1em $color_abbey_approx;
	padding: 4em 1em;
	margin-top: 5em;
	@include border-radius;
}
h2 {
	color: $color_donkey_brown_approx;
	text-align: center;
	@include text-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
}
a {
	color: $color_abbey_approx;
	text-decoration: none;
	padding: 0 10px;
	&:hover {
		font-weight: bold;
		@include text-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
}
.centre {
	text-align: center;
}
@keyframes stretch {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.3);
		background-color: $color_black_haze_approx;
		@include border-radius;
		@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
	50% {
		background-color: $color_geyser_approx;
		@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
		background-color: $color_pigeon_post_approx;
		@include border-radius;
		@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
}
@media only screen and(max-width: 600px) {
	.masthead {
		background-image: $url_1;
		padding: 3em 0;
	}
	.masthead-heading {
		font-size: 4em;
		margin-top: -0.1em;
	}
	.masthead-intro {
		margin-top: -0.1em;
		margin-bottom: 0;
	}
	.masthead-intro-bottom {
		margin-top: -1em;
	}
	.pages {
		margin: 0 0 -1em 0;
	}
	section {
		padding: 0 3em;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	img {
		max-width: 400px;
	}
	footer > p {
		font-size: 1em;
		margin: 0 3em;
	}
}
@media only screen and(max-width: 300px) {
	.masthead {
		background-image: $url_2;
	}
}
@media only screen and(min-width: 768px) and(max-width: 1025px) {
	.social img {
		width: 68px;
	}
}
@media only screen and(min-width: 412px) {
	.social img {
		width: 67px;
	}
}
@media only screen and(min-width: 384px) {
	.social img {
		width: 62px;
	}
}
@media only screen and(min-width: 375px) {
	.social img {
		width: 60px;
	}
}
@media only screen and(min-width: 360px) {
	.social img {
		width: 57px;
	}
}
@media only screen and(min-width: 320px) and(max-width: 767px) {
	.social img {
		width: 49px;
	}
}
section > h1 {
	margin-top: 2em;
	font-family: $font_1;
	font-size: 1.5em;
	color: $color_dune_approx;
	@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
}
button#link {
	background: none;
	border: none;
	&:hover {
		font-weight: bold;
		@include text-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
}
ul.social {
	margin: 1em auto;
	padding: 1em 0.5em;
	img {
		@include box-shadow(shadow-1, shadow-2, shadow-3, shadow-4, shadow-5, shadow-6, shadow-7, shadow-8, shadow-9, shadow-10);
	}
}
