<div class="card">
  <div class="card-header">
    <h3 class="card-title display-3">Introduction</h3>
  </div>
  <div class="card-block intro m-x-2">
    <blockquote class="blockquote">
      <div class="alert alert-info" role="alert">
        <p class="m-b-0">About Me</p>
      </div>
    </blockquote>
    <p class="card-text lead m-b-2">I am a creative and outgoing developer that brings the most out of my teams. My ability to connect with people and satisfy client needs uniquely allow me to approach my code from the angle of a consumer as well as a developer.</p>
    <p class="card-text lead m-b-2">I worked hands on with HTML, CSS, JavaScript, jQuery, Angular, and Node. I have also built apps utilizing API's from Google and worked with frameworks such as Ionic and Cordova for hybrid development.</p>
    <blockquote class="blockquote">
      <div class="alert alert-info" role="alert">
        <p class="m-b-0">Development skills</p>
      </div>
    </blockquote>
    <p class="card-text lead m-b-2">JavaScript, AngularJS, Node.js, Express, MongoDB, Mongoose, HTML, CSS, Sass, Less, jQuery, Gulp, Karma, Jasmine, Webpack, Protractor, Git, Bootstrap, Ionic</p>
    <blockquote class="blockquote">
      <div class="alert alert-info" role="alert">
        <p class="m-b-0">Background</p>
      </div>
    </blockquote>
    <p class="card-text lead m-b-2">I am a father of two beautiful, intelligent, young girls. I like to run and play soccer when I can, but most times I'm supporting my girls at either Gymnastics or Dance. They also like to make up songs to perfom on their ukelele.</p>
    <p class="card-text lead m-b-2">My wife and I like to explore trails and take our girls to the beach. My parents were both in the military and I enjoy talking to my father for insight and advice.</p>
    <p class="card-text lead m-b-2">Whenever I'm by myself I like playing and modifying PC games. If I'm in the mood for something more laid back I like to relax with my dog and cat (who thinks he's a dog) and read a book either on history or science fiction.</p>
  </div>
</div>
